.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15%;
}

.grid {
display: grid;
grid-row-gap: 4px;
grid-template-columns: repeat(3, 75px);
}

.cube {
width: 70px;
height: 70px;
}